{% extends "base.html" %}

{% block titulo %} Nosotros {% endblock %}

{% block contenido %}

<div class="row align-items-md-stretch">
            <div class="col-md-6">
                <div
                    class="h-100 p-5 text-white bg-primary border rounded-3"
                >
                    <h2>Bienvenidos al Sitio de la Libreria</h2>
                    <p>
                        Disfruta de los mejores libros aqui
                    </p>
                    <button
                        class="btn btn-outline-primary"
                        type="button"
                    >
                        Example button
                    </button>
                </div>
            </div>
            <div class="col-md-6">
                <div
                    class="h-100 p-5 bg-primary border rounded-3"
                >
                    <h2>Compra, Vende, Intercambia</h2>
                    <p>
                        Bienvenidos!!!
                    </p>
                    <button
                        class="btn Swap the background-color utility and add a `.text-*` color
                        utility to mix up the jumbotron look. Then, mix and match with
                        additional component themes and more."
                        type="button"
                    >
                        Example button
                    </button>
                </div>
            </div>
        </div>

{% endblock %}